@using MvcApp.AppLib
@{
    var scriptSupport = this.GetValueFor("ScriptSupport", true);
    var appConst = AppConst.GetAppConst();
    var basicPath = appConst.BasicPath;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@basicPath/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@basicPath/toastr/toastr.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @if (scriptSupport)
    {
        <script src="@basicPath/require.min.js"></script>
        @Html.Partial("_AppConst", appConst)
    }
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    @if (scriptSupport)
    {
        @Html.Partial("_AsyncScripts")
    }
</body>
</html>